@model Forestry_test.ViewModels.MazistViewModel.MazistViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MazistViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mazists.First().CarID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mazists.First().CarID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mazists.First().FIO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mazists.First().FIO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mazists.First().CarNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mazists.First().CarNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-sm btn-danger" /> |
        <a asp-area="" asp-action="Index" class="btn btn-sm btn-warning">Назад к списку</a>
    </form>
</div>
