@model Forestry_test.ViewModels.ProductViewModel.ProductsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    <a asp-area="" asp-controller="Products" asp-action="Index" class="btn btn-sm btn-warning">Назад</a>
</h3>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductViewModel.ProdID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.First().ProdID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductViewModel.SortD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.First().Sorte.SortD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductViewModel.Lght)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.First().Lght)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductViewModel.Volume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.First().Volume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductViewModel.Quarters)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.First().Quarters)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductViewModel.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.First().Loc.Loc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductViewModel.DateOfShipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.First().DateOfShipment)
        </dd>
    </dl>
</div>