@using Forestry_test.ViewModels.LocationViewModel
@model LocationViewModel
@addTagHelper "*, Forestry_test"
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
@Html.ActionLink("Создать", "Create")
<form method="get">
    <div class="form-inline">
        <label class="control-label">Лесничество: </label>
        @Html.TextBox("Loc", Model.FilterViewModel.Selectedloc, htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="фильтр" class="btn-default" />
    </div>
    <br /><br />
</form>
<table class="table">
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.LocIDSort)"
               asp-route-type="@(Model.FilterViewModel.Selectedloc)">@Html.DisplayNameFor(model => model.Location.LocID)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.LocSort)"
               asp-route-type="@(Model.FilterViewModel.Selectedloc)">@Html.DisplayNameFor(model => model.Location.Loc)</a>
        </th>
    </tr>
    @foreach (var rate in Model.Locations)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => rate.LocID)</td>
            <td>@Html.DisplayFor(modelItem => rate.Loc)</td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = rate.LocID }, null) |
                @Html.ActionLink("Подробнее", "Details", new { id = rate.LocID }, null) |
                @Html.ActionLink("Удалить", "Delete", new { id = rate.LocID }, null)
            </td>
        </tr>

    }
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-type="@(Model.FilterViewModel.Selectedloc)"
           page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>




















@*<h2>Goods</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type_Of_Good.Types_of_goodsID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type_Of_Good.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type_Of_Good.Unit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type_Of_Good.Amount_of_duty)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Type_Of_Goods)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Types_of_goodsID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount_of_duty)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Types_of_goodsID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Types_of_goodsID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Types_of_goodsID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <page-link page-model="Model.PageViewModel" page-action="Index"></page-link>*@