@using Forestry_test.ViewModels.AppointmentViewModel
@model AppointmentViewModel
@addTagHelper "*, Forestry_test"
@{
    ViewData["Title"] = "Index";
}
<br />
<a class="btn btn-sm btn-success" asp-action="Create">Создать</a>
<br />
<br />
<form method="get">
    <div class="form-inline">
        <label class="control-label">Место назначения: </label>
        @Html.TextBox("firstName", Model.FilterViewModel.SelectedpointName, htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="фильтр" class="btn btn-sm btn-warning" />
    </div>
    <br />
</form>
<table class="table">
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.PointIDSort)"
               asp-route-type="@(Model.FilterViewModel.SelectedpointName)">@Html.DisplayNameFor(model => model.Appointment.PointID)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.PointNameSort)"
               asp-route-type="@(Model.FilterViewModel.SelectedpointName)">@Html.DisplayNameFor(model => model.Appointment.PointName)</a>
        </th>
    </tr>
    @foreach (var rate in Model.Appointments)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => rate.PointID)</td>
            <td>@Html.DisplayFor(modelItem => rate.PointName)</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@rate.PointID">Изменить</a>
                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@rate.PointID">Подробнее</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@rate.PointID">Удалить</a>
            </td>
        </tr>

    }
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-type="@(Model.FilterViewModel.SelectedpointName)"
           page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>